<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="78813565-0e87-4dda-8607-b001757b32e4" Publisher="CN=Brendan" Version="1.0.0.0" />
  <Properties>
    <DisplayName>pixCellDivision</DisplayName>
    <PublisherDisplayName>Brendan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="pixCellDivision.App">
      <VisualElements DisplayName="pixCellDivision" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="pixCellDivision" ForegroundText="light" BackgroundColor="green">
        <DefaultTile ShowName="allLogos" ShortName="pixCellDivision" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>